.div-register {
   width: 40%;
   margin: auto;
   margin-top: 50px;
   background-color: whitesmoke;
   border: 2px solid lightgray;
   border-radius: 5px;
   padding: 20px;
}

.div-register label {
   color: white !important;
}

.div-register input {
   color: white !important;
}

.w-100 {
   width: 100% !important;
}
