.bg-yellow {
   border: solid 2px red !important;
}

.div-contai {
   width: 75%;
   margin: auto;
   margin-bottom: 2rem;
   margin-top: 3rem;
   padding-bottom: 2rem;
}

.max-h-80vh {
   max-height: 80vh;
}

.width-80vh {
   width: 80vh;
}

.width-70vh {
   width: 70vh;
}

.width-60vh {
   width: 60vh;
}

.bg-footer1 {
   background-color: #f99e36;
}

.bg-footer2 {
   background-color: #fdc140;
}
